/* Reset CSS */
.container {
    width: 100%;
    height: auto;

    
}

.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
    
}

.text-overlay {
    position: absolute; /* Mengatur posisi teks menjadi absolut */
    top: 50px; /* Teks akan berada di tengah secara vertikal */
    left: 50%; /* Teks akan berada di tengah secara horizontal */
    transform: translate(-50%, -50%); /* Mengatur transformasi untuk benar-benar menempatkan teks di tengah */
    color: white; /* Warna teks */
    font-size: 24px; /* Ukuran teks */
    font-weight: bold; /* Ketebalan teks */
    padding: 10px; /* Jarak dalam untuk teks */
    text-align: center;
    border-color: black;
    
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}



header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

.dashboard {
    margin-top: 40px;
    text-align: center;
    font-size: large;
    
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.img_drs {
    float: top;
    width: 50%;
}

.card {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 23%;
    margin-bottom: 20px;
    
}


.card h3 {
    margin-bottom: 10px;
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    
}

.schedule th, .schedule td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.schedule th {
    background-color: #f4f4f4;
}

